select, input.datalist, input.datalist_multiple, input[type=radio], input[type=checkbox], input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button, input[type=number] {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

.admin_table a.sorting-down, .admin_table a.sorting-top {
  display: inline-block;
  overflow: hidden;
  width: 15px;
  height: 15px;
  color: transparent;
}
.admin_table a.sorting-down:hover, .admin_table a.sorting-top:hover {
  background-color: transparent;
}
.admin_table a.disabled.sorting-down, .admin_table a.disabled.sorting-top {
  color: transparent !important;
  background-color: transparent !important;
  opacity: 0.4;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 15px;
  font-family: "Microsoft JhengHei", arial, sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

header,
main,
section,
article,
aside,
nav,
footer {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.d_none {
  display: none !important;
}

.d_inline {
  display: inline !important;
}

.d_block {
  display: block !important;
}

.d_inline_block {
  display: inline_block !important;
}

.d_flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex_row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.justify_content_start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.justify_content_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify_content_end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.justify_content_around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify_content_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align_items_start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.align_items_end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.align_items_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align_items_baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.align_items_stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.align_self_start {
  -ms-flex-item-align: start;
      align-self: start;
}

.align_self_end {
  -ms-flex-item-align: end;
      align-self: end;
}

.align_self_center {
  -ms-flex-item-align: center;
      align-self: center;
}

.align_self_baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.align_self_stretch {
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.flex_fill {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 auto !important;
          flex: 1 1 auto !important;
}

.flex_wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex_nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.order_1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.order_2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.order_3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.order_4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.order_5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.p_1 {
  padding: 5px;
}

.pt_1 {
  padding-top: 5px;
}

.pb_1 {
  padding-bottom: 5px;
}

.px_1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pl_1 {
  padding-left: 5px;
}

.pr_1 {
  padding-right: 5px;
}

.py_1 {
  padding-right: 5px;
  padding-left: 5px;
}

.p_2 {
  padding: 10px;
}

.pt_2 {
  padding-top: 10px;
}

.pb_2 {
  padding-bottom: 10px;
}

.px_2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pl_2 {
  padding-left: 10px;
}

.pr_2 {
  padding-right: 10px;
}

.py_2 {
  padding-right: 10px;
  padding-left: 10px;
}

.p_3 {
  padding: 15px;
}

.pt_3 {
  padding-top: 15px;
}

.pb_3 {
  padding-bottom: 15px;
}

.px_3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pl_3 {
  padding-left: 15px;
}

.pr_3 {
  padding-right: 15px;
}

.py_3 {
  padding-right: 15px;
  padding-left: 15px;
}

.p_4 {
  padding: 20px;
}

.pt_4 {
  padding-top: 20px;
}

.pb_4 {
  padding-bottom: 20px;
}

.px_4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pl_4 {
  padding-left: 20px;
}

.pr_4 {
  padding-right: 20px;
}

.py_4 {
  padding-right: 20px;
  padding-left: 20px;
}

.p_5 {
  padding: 25px;
}

.pt_5 {
  padding-top: 25px;
}

.pb_5 {
  padding-bottom: 25px;
}

.px_5 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pl_5 {
  padding-left: 25px;
}

.pr_5 {
  padding-right: 25px;
}

.py_5 {
  padding-right: 25px;
  padding-left: 25px;
}

.m_1 {
  margin: 5px;
}

.mt_1 {
  margin-top: 5px;
}

.mb_1 {
  margin-bottom: 5px;
}

.mx_1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ml_1 {
  margin-left: 5px;
}

.mr_1 {
  margin-right: 5px;
}

.my_1 {
  margin-right: 5px;
  margin-left: 5px;
}

.m_2 {
  margin: 10px;
}

.mt_2 {
  margin-top: 10px;
}

.mb_2 {
  margin-bottom: 10px;
}

.mx_2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ml_2 {
  margin-left: 10px;
}

.mr_2 {
  margin-right: 10px;
}

.my_2 {
  margin-right: 10px;
  margin-left: 10px;
}

.m_3 {
  margin: 15px;
}

.mt_3 {
  margin-top: 15px;
}

.mb_3 {
  margin-bottom: 15px;
}

.mx_3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.ml_3 {
  margin-left: 15px;
}

.mr_3 {
  margin-right: 15px;
}

.my_3 {
  margin-right: 15px;
  margin-left: 15px;
}

.m_4 {
  margin: 20px;
}

.mt_4 {
  margin-top: 20px;
}

.mb_4 {
  margin-bottom: 20px;
}

.mx_4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ml_4 {
  margin-left: 20px;
}

.mr_4 {
  margin-right: 20px;
}

.my_4 {
  margin-right: 20px;
  margin-left: 20px;
}

.m_5 {
  margin: 25px;
}

.mt_5 {
  margin-top: 25px;
}

.mb_5 {
  margin-bottom: 25px;
}

.mx_5 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.ml_5 {
  margin-left: 25px;
}

.mr_5 {
  margin-right: 25px;
}

.my_5 {
  margin-right: 25px;
  margin-left: 25px;
}

.w25 {
  width: 25% !important;
}

.w50 {
  width: 50% !important;
}

.w75 {
  width: 75% !important;
}

.w100 {
  width: 100% !important;
}

header,
.header {
  display: block;
}

.warpper {
  margin: 0 auto auto;
  min-height: 100vh;
}
.warpper.max_width {
  margin: 10rem auto 0;
  max-width: 960px;
}

main > section {
  margin-top: 20px;
}

nav,
.nav {
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #333;
}
nav .logo,
.nav .logo {
  padding: 6px;
  width: 50px;
  vertical-align: middle;
  height: 50px;
}

.nav_icon {
  display: inline-block;
  padding: 0 6px;
  padding-top: 6px;
  height: 50px;
  cursor: pointer;
}
.nav_icon .line {
  margin: 6px 0;
  width: 35px;
  height: 5px;
  background-color: #333;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.nav_icon.active .line:first-child {
  -webkit-transform: translate(0, 11px) rotate(-45deg);
          transform: translate(0, 11px) rotate(-45deg);
}
.nav_icon.active .line:nth-child(2) {
  opacity: 0;
}
.nav_icon.active .line:nth-child(3) {
  -webkit-transform: translate(0, -11px) rotate(45deg);
          transform: translate(0, -11px) rotate(45deg);
}
@media (min-width: 768px) {
  .nav_icon {
    display: none;
  }
}

.nav.top .nav_header {
  width: 100%;
}
@media (min-width: 768px) {
  .nav.top .nav_header {
    display: inline-block;
    width: auto;
  }
}
.nav.top .nav_body {
  width: 100%;
}
.nav.top .nav_body li:first-child {
  border-left: 1px solid;
}
.nav.top .nav_body li:last-child {
  border-right: 1px solid;
}
.nav.top .nav_body li + li {
  border-left: 1px solid;
}
.nav.top .nav_body a {
  display: inline-block;
  padding: 0 6px;
  height: 50px;
  line-height: 50px;
}
@media (min-width: 768px) {
  .nav.top .nav_body {
    display: inline-block;
    width: auto;
  }
}
.nav.float .nav_header::after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: "";
  line-height: 0;
}
@media (min-width: 768px) {
  .nav.float .nav_header {
    float: left;
  }
}
.nav.float .logo {
  float: left;
}
.nav.float .nav_icon {
  float: right;
}
.nav.float .nav_body {
  display: none;
}
.nav.float .nav_body ul::after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: "";
  line-height: 0;
}
@media (min-width: 768px) {
  .nav.float .nav_body li {
    float: left;
  }
}
@media (min-width: 768px) {
  .nav.float .nav_body {
    display: inline-block;
    float: left;
  }
}
.nav.float .nav_body.active {
  display: block;
}
.nav.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button.btn,
input[type=submit].btn,
input[type=reset].btn,
input[type=button].btn,
a.btn {
  height: 40px;
  line-height: 40px;
}

@media (min-width: 768px) {
  button.btn,
  input[type=submit].btn,
  input[type=reset].btn,
  input[type=button].btn,
  a.btn {
    height: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  button.btn,
  input[type=submit].btn,
  input[type=reset].btn,
  input[type=button].btn,
  a.btn {
    height: 32px;
    line-height: 32px;
  }
}
button,
input[type=submit],
input[type=reset],
input[type=button],
button.btn,
input[type=submit].btn,
input[type=reset].btn,
input[type=button].btn,
a.btn {
  display: inline-block;
  padding: 0 12px;
  height: 32px;
  color: #005178;
  background-color: #f5f5f5;
  border: 1px solid;
  outline: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  line-height: 32px;
  cursor: pointer;
  font-weight: 700;
  vertical-align: middle;
}
button:hover, button:active, button:focus,
input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus,
input[type=reset]:hover,
input[type=reset]:active,
input[type=reset]:focus,
input[type=button]:hover,
input[type=button]:active,
input[type=button]:focus,
button.btn:hover,
button.btn:active,
button.btn:focus,
input[type=submit].btn:hover,
input[type=submit].btn:active,
input[type=submit].btn:focus,
input[type=reset].btn:hover,
input[type=reset].btn:active,
input[type=reset].btn:focus,
input[type=button].btn:hover,
input[type=button].btn:active,
input[type=button].btn:focus,
a.btn:hover,
a.btn:active,
a.btn:focus {
  color: #0073ab;
  background-color: gainsboro;
}
button.disabled, button:disabled,
input[type=submit].disabled,
input[type=submit]:disabled,
input[type=reset].disabled,
input[type=reset]:disabled,
input[type=button].disabled,
input[type=button]:disabled,
button.btn.disabled,
button.btn:disabled,
input[type=submit].btn.disabled,
input[type=submit].btn:disabled,
input[type=reset].btn.disabled,
input[type=reset].btn:disabled,
input[type=button].btn.disabled,
input[type=button].btn:disabled,
a.btn.disabled,
a.btn:disabled {
  color: #8b8b87;
  background-color: #ebebe4;
  border-color: #cacaca;
  cursor: no-drop;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.text_center {
  text-align: center;
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.vertial_top {
  vertical-align: top;
}

.vertial_middle {
  vertical-align: middle;
}

.vertial_bottom {
  vertical-align: bottom;
}

input[type=text],
input[type=password],
input[type=file],
select {
  height: 40px;
}

.pagination .btn {
  padding: 0;
  height: 40px;
  line-height: 40px;
}

@media (min-width: 768px) {
  input[type=text],
  input[type=password],
  input[type=file],
  select {
    height: 36px;
  }
  .pagination .btn {
    padding: 0;
    height: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  input[type=text],
  input[type=password],
  input[type=file],
  select {
    height: 32px;
  }
  .pagination .btn {
    padding: 0;
    height: 32px;
    line-height: 32px;
  }
}
input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=time],
input[type=week],
input[type=month],
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=url],
input[type=password],
input[type=file],
select {
  padding: 0 6px;
  height: 32px;
  border: 1px solid #b8b8b8;
}
input[type=text]:focus, input[type=text]:focus-visible,
input[type=date]:focus,
input[type=date]:focus-visible,
input[type=datetime]:focus,
input[type=datetime]:focus-visible,
input[type=datetime-local]:focus,
input[type=datetime-local]:focus-visible,
input[type=time]:focus,
input[type=time]:focus-visible,
input[type=week]:focus,
input[type=week]:focus-visible,
input[type=month]:focus,
input[type=month]:focus-visible,
input[type=email]:focus,
input[type=email]:focus-visible,
input[type=number]:focus,
input[type=number]:focus-visible,
input[type=search]:focus,
input[type=search]:focus-visible,
input[type=tel]:focus,
input[type=tel]:focus-visible,
input[type=url]:focus,
input[type=url]:focus-visible,
input[type=password]:focus,
input[type=password]:focus-visible,
input[type=file]:focus,
input[type=file]:focus-visible,
select:focus,
select:focus-visible {
  outline-color: #0073ab;
  color: #0073ab;
}
input[type=text].disabled, input[type=text]:disabled,
input[type=date].disabled,
input[type=date]:disabled,
input[type=datetime].disabled,
input[type=datetime]:disabled,
input[type=datetime-local].disabled,
input[type=datetime-local]:disabled,
input[type=time].disabled,
input[type=time]:disabled,
input[type=week].disabled,
input[type=week]:disabled,
input[type=month].disabled,
input[type=month]:disabled,
input[type=email].disabled,
input[type=email]:disabled,
input[type=number].disabled,
input[type=number]:disabled,
input[type=search].disabled,
input[type=search]:disabled,
input[type=tel].disabled,
input[type=tel]:disabled,
input[type=url].disabled,
input[type=url]:disabled,
input[type=password].disabled,
input[type=password]:disabled,
input[type=file].disabled,
input[type=file]:disabled,
select.disabled,
select:disabled {
  color: #8b8b87;
  background-color: #ebebe4;
  border-color: #cacaca;
  cursor: no-drop;
}
input[type=text][type=text]:-moz-read-only, input[type=date][type=text]:-moz-read-only, input[type=datetime][type=text]:-moz-read-only, input[type=datetime-local][type=text]:-moz-read-only, input[type=time][type=text]:-moz-read-only, input[type=week][type=text]:-moz-read-only, input[type=month][type=text]:-moz-read-only, input[type=email][type=text]:-moz-read-only, input[type=number][type=text]:-moz-read-only, input[type=search][type=text]:-moz-read-only, input[type=tel][type=text]:-moz-read-only, input[type=url][type=text]:-moz-read-only, input[type=password][type=text]:-moz-read-only, input[type=file][type=text]:-moz-read-only, select[type=text]:-moz-read-only {
  background-color: #ebebe4;
  border-color: #cacaca;
}
input[type=text][type=text]:read-only,
input[type=date][type=text]:read-only,
input[type=datetime][type=text]:read-only,
input[type=datetime-local][type=text]:read-only,
input[type=time][type=text]:read-only,
input[type=week][type=text]:read-only,
input[type=month][type=text]:read-only,
input[type=email][type=text]:read-only,
input[type=number][type=text]:read-only,
input[type=search][type=text]:read-only,
input[type=tel][type=text]:read-only,
input[type=url][type=text]:read-only,
input[type=password][type=text]:read-only,
input[type=file][type=text]:read-only,
select[type=text]:read-only {
  background-color: #ebebe4;
  border-color: #cacaca;
}
input[type=text]::-webkit-input-placeholder, input[type=date]::-webkit-input-placeholder, input[type=datetime]::-webkit-input-placeholder, input[type=datetime-local]::-webkit-input-placeholder, input[type=time]::-webkit-input-placeholder, input[type=week]::-webkit-input-placeholder, input[type=month]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder, input[type=search]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=file]::-webkit-input-placeholder, select::-webkit-input-placeholder {
  text-transform: capitalize;
  color: #a4a4a4;
  font-weight: normal;
}
input[type=text]::-moz-placeholder, input[type=date]::-moz-placeholder, input[type=datetime]::-moz-placeholder, input[type=datetime-local]::-moz-placeholder, input[type=time]::-moz-placeholder, input[type=week]::-moz-placeholder, input[type=month]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=number]::-moz-placeholder, input[type=search]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=url]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=file]::-moz-placeholder, select::-moz-placeholder {
  text-transform: capitalize;
  color: #a4a4a4;
  font-weight: normal;
}
input[type=text]:-ms-input-placeholder, input[type=date]:-ms-input-placeholder, input[type=datetime]:-ms-input-placeholder, input[type=datetime-local]:-ms-input-placeholder, input[type=time]:-ms-input-placeholder, input[type=week]:-ms-input-placeholder, input[type=month]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder, input[type=search]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=file]:-ms-input-placeholder, select:-ms-input-placeholder {
  text-transform: capitalize;
  color: #a4a4a4;
  font-weight: normal;
}
input[type=text]::-ms-input-placeholder, input[type=date]::-ms-input-placeholder, input[type=datetime]::-ms-input-placeholder, input[type=datetime-local]::-ms-input-placeholder, input[type=time]::-ms-input-placeholder, input[type=week]::-ms-input-placeholder, input[type=month]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, input[type=number]::-ms-input-placeholder, input[type=search]::-ms-input-placeholder, input[type=tel]::-ms-input-placeholder, input[type=url]::-ms-input-placeholder, input[type=password]::-ms-input-placeholder, input[type=file]::-ms-input-placeholder, select::-ms-input-placeholder {
  text-transform: capitalize;
  color: #a4a4a4;
  font-weight: normal;
}
input[type=text]::placeholder,
input[type=date]::placeholder,
input[type=datetime]::placeholder,
input[type=datetime-local]::placeholder,
input[type=time]::placeholder,
input[type=week]::placeholder,
input[type=month]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder,
input[type=search]::placeholder,
input[type=tel]::placeholder,
input[type=url]::placeholder,
input[type=password]::placeholder,
input[type=file]::placeholder,
select::placeholder {
  text-transform: capitalize;
  color: #a4a4a4;
  font-weight: normal;
}

input {
  display: inline-block;
  background-color: #fff;
  vertical-align: middle;
}
input[type=text], input[type=password], input[type=number], input[type=email] {
  width: 100%;
}
input[type=file] {
  padding: 3px 6px;
  width: 300px;
}
input[type=radio], input[type=checkbox] {
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 3px;
  outline: 0;
  vertical-align: middle;
  cursor: pointer;
}
input[type=radio]:focus, input[type=checkbox]:focus {
  outline: 0;
}
input[type=checkbox] {
  background: url(../images/checkbox.svg) center center no-repeat #fff;
}
input[type=checkbox]:checked {
  background: url(../images/checkbox-checked.svg) center center no-repeat #fff;
}
input[type=radio] {
  background: url(../images/radio.svg) center center no-repeat #fff;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
input[type=radio]:checked {
  background: url(../images/radio-checked.svg) center center no-repeat #fff;
}
input.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

select {
  padding: 0 40px 0 6px;
  background: url(../images/selectArrow-dark.svg) center right no-repeat #fff;
}
select.disabled, select:disabled {
  background: url(../images/selectArrow-disabled.svg) center right no-repeat #fff;
  background-color: #ebebe4;
}
select[multiple] {
  background: #fff;
}
select[multiple].disabled, select[multiple]:disabled {
  background: #ebebe4;
}

.file_multiple {
  display: inline-block;
  padding: 0 6px;
  width: 200px;
  height: 32px;
  color: #fff;
  background: #0073ab;
  border: 1px solid #b8b8b8;
  vertical-align: middle;
  line-height: 32px;
  cursor: pointer;
}
.file_multiple:hover, .file_multiple:focus, .file_multiple:active {
  background: #005178;
}

.img_list ul {
  padding: 10px 0;
}
.img_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
  width: 100%;
  border: 1px solid #b8b8b8;
}
.img_list li p {
  display: inline-block;
  padding: 0 6px;
  margin-right: 6px;
  width: 80%;
  color: #222;
  word-break: break-all;
  border-right: 1px solid #b8b8b8;
}
.img_list li .img_box {
  width: 20%;
}
.img_list li .img_box img {
  border-left: 0;
}
.img_list li + li {
  border-top: 0;
}
.img_list input[type=submit] {
  margin-left: 5px;
}

label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.img_fluid {
  max-width: 100%;
  height: auto;
}

.img_thumbnail {
  padding: 10px;
  max-width: 100%;
  height: auto;
  background-color: #f5f5f5;
  border: 1px solid #5f5e5e;
  border-radius: 10px;
}

a.link,
button.link,
input[type=button].link,
input[type=submit].link {
  text-decoration: none;
  color: #005178;
}

.loader_1 {
  width: 190px;
  height: 190px;
}

.loader_2 span::before {
  width: 30px;
  height: 30px;
}
@media (min-width: 768px) {
  .loader_2 span::before {
    width: 10px;
    height: 10px;
  }
}
@media (min-width: 1440px) {
  .loader_2 span::before {
    width: -10px;
    height: -10px;
  }
}

.loader_3 {
  width: 190px;
  height: 190px;
}
.loader_3::before, .loader_3::after {
  width: 172px;
  height: 172px;
}
.loader_3::before {
  width: 156px;
  height: 156px;
}

@media (min-width: 768px) {
  .loader_1 {
    width: 210px;
    height: 210px;
  }
  .loader_2 span::before {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .loader_2 span::before {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .loader_2 span::before {
    width: 10px;
    height: 10px;
  }
}
@media (min-width: 768px) {
  .loader_3 {
    width: 210px;
    height: 210px;
  }
  .loader_3::before, .loader_3::after {
    width: 192px;
    height: 192px;
  }
  .loader_3::before {
    width: 176px;
    height: 176px;
  }
}
@media (min-width: 1440px) {
  .loader_1 {
    width: 230px;
    height: 230px;
  }
  .loader_2 span::before {
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 1440px) and (min-width: 768px) {
  .loader_2 span::before {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1440px) and (min-width: 1440px) {
  .loader_2 span::before {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 1440px) {
  .loader_3 {
    width: 230px;
    height: 230px;
  }
  .loader_3::before, .loader_3::after {
    width: 212px;
    height: 212px;
  }
  .loader_3::before {
    width: 196px;
    height: 196px;
  }
}
.loader_1 {
  display: inline-block;
  border: 5px solid #fff;
  border-bottom-color: #2cbaff;
  border-radius: 50%;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}

.loader_2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loader_2 span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(calc(18deg * var(--i)));
          transform: rotate(calc(18deg * var(--i)));
}
.loader_2 span::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2cbaff;
  border-radius: 50%;
  content: "";
  -webkit-animation: loader_2_animation 2s linear infinite;
          animation: loader_2_animation 2s linear infinite;
  -webkit-animation-delay: calc(0.1s * var(--i));
          animation-delay: calc(0.1s * var(--i));
  -webkit-transform: scale(0);
          transform: scale(0);
}

.loader_3 {
  position: relative;
  display: inline-block;
  border: 7px solid;
  border-color: #fff #fff transparent transparent;
  border-radius: 50%;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}
.loader_3::after, .loader_3::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 7px solid;
  border-color: transparent transparent #2cbaff #2cbaff;
  border-radius: 50%;
  content: "";
  -webkit-animation: rotationBack 0.5s linear infinite;
          animation: rotationBack 0.5s linear infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.loader_3::before {
  border-color: #fff #fff transparent transparent;
  -webkit-animation: rotation 5s linear infinite;
          animation: rotation 5s linear infinite;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes rotationBack {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes rotationBack {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@-webkit-keyframes loader_2_animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes loader_2_animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
table {
  width: 100%;
  background-color: #fff;
  border: 1px solid #cdcdcd;
}
table.th_center th {
  text-align: center;
}
table.td_center td {
  text-align: center;
}
table tr {
  background-color: #fff;
}
table img {
  vertical-align: top;
}

.admin_table tr:nth-child(odd) {
  background-color: #f4f3f3;
}
.admin_table tr:hover {
  background-color: #ffffe9;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.admin_table tr:hover td {
  border-bottom-color: #e9e999;
}
.admin_table tr.odd {
  background-color: #f4f3f3;
}
.admin_table tr.odd:hover {
  background-color: #ffffe9;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.admin_table th {
  padding: 7px;
  color: #fff;
  background-color: #79726f;
  border: 1px solid #9a9a9a;
}
.admin_table th a {
  color: #fff;
}
.admin_table th a:hover, .admin_table th a:active, .admin_table th a:focus {
  color: #e6e6e6;
}
.admin_table td {
  padding: 5px 7px;
  color: #222;
  border: 1px solid #cdcdcd;
}
.admin_table a.sorting-top {
  background: url(../images/icon-sortingTop.svg) center center no-repeat transparent;
}
.admin_table a.sorting-down {
  background: url(../images/icon-sortingDown.svg) center center no-repeat transparent;
}

.block_table {
  display: block;
  overflow: scroll;
  overflow-y: auto;
}
.block_table td {
  text-align: left;
  white-space: nowrap;
}
.block_table td.wrap {
  white-space: normal;
}

.sticky_table {
  border-collapse: separate;
  border-spacing: 0;
}
.sticky_table thead th {
  position: sticky;
  top: 0;
  z-index: 1110;
}
.sticky_table thead th.sticky_left {
  z-index: 1120;
  background-color: #79726f;
}
.sticky_table .sticky_left {
  position: sticky;
  left: 0;
  z-index: 1100;
  background-color: inherit;
}

.edit_table th {
  padding: 10px 7px;
  color: #fff;
  background-color: #79726f;
  border: 1px solid #9a9a9a;
}
.edit_table th.title {
  text-align: left;
}
.edit_table th.title svg {
  display: inline-block;
  padding-left: 21px;
  width: 16px;
  height: 16px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  vertical-align: middle;
}
.edit_table td {
  padding: 7px;
  color: #222;
  background-color: #fff;
  border: 1px solid #cdcdcd;
}
.edit_table td.title {
  width: 175px;
  background-color: #f4f4f4;
}
.edit_table td.title + td {
  width: calc(50% - 175px);
}
.edit_table td input[type=text] + input [type=submit], .edit_table td input[type=text] + input [type=button], .edit_table td input[type=text] + input [type=reset], .edit_table td input[type=file] + input [type=submit], .edit_table td input[type=file] + input [type=button], .edit_table td input[type=file] + input [type=reset] {
  vertical-align: top;
}

.edit_td_table td.td_table {
  padding: 0;
}

.td_table > table {
  margin: -1px;
  width: calc(100% + 2px);
}
.td_table > table td {
  padding: 7px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.td_table > table td.title {
  background-color: #fff;
}
.td_table > table ol {
  padding-left: 21px;
}
.td_table > table ol li {
  list-style: decimal;
}
.td_table > table ul {
  padding-left: 21px;
}
.td_table > table ul li {
  list-style: disc;
}
.td_table > table.edit_list td {
  background-color: #ffffee;
}
.td_table > table.edit_list td.title {
  color: #0073ab;
  background-color: #ffffee;
}
.td_table > table:hover td {
  background-color: #ffffe9;
}

.bg_primary {
  background-color: #005178 !important;
}

.bg_secondary {
  background-color: #5f5e5e !important;
}

.bg_thired {
  background-color: #0073ab !important;
}

.bg_success {
  background-color: #198754 !important;
}

.bg_danger {
  background-color: #dc3545 !important;
}

.bg_warning {
  background-color: #ffc107 !important;
}

.bg_info {
  background-color: #0dcaf0 !important;
}

.bg_light {
  background-color: #f8f9fa !important;
}

.bg_dark {
  background-color: #212529 !important;
}

.text_primary {
  color: #005178 !important;
}

.text_secondary {
  color: #5f5e5e !important;
}

.text_thired {
  color: #0073ab !important;
}

.text_success {
  color: #198754 !important;
}

.text_danger {
  background-color: #dc3545 !important;
}

.text_warning {
  background-color: #ffc107 !important;
}

.text_info {
  background-color: #0dcaf0 !important;
}

.text_light {
  background-color: #f8f9fa !important;
}

.text_dark {
  background-color: #212529 !important;
}/*# sourceMappingURL=style.css.map */