// Background-color
.bg_primary {
    background-color: $color-primary !important;
}

.bg_secondary {
    background-color: $color-secondary !important;
}

.bg_thired {
    background-color: $color-thired !important;
}

.bg_success {
    background-color: $green !important;
}

.bg_danger {
    background-color: $red !important;
}

.bg_warning {
    background-color: $yellow !important;
}

.bg_info {
    background-color: $cyan !important;
}

.bg_light {
    background-color: #f8f9fa !important;
}

.bg_dark {
    background-color: #212529 !important;
}

// Text-color
.text_primary {
    color: $color-primary !important;
}

.text_secondary {
    color: $color-secondary !important;
}

.text_thired {
    color: $color-thired !important;
}

.text_success {
    color: $green !important;
}

.text_danger {
    background-color: $red !important;
}

.text_warning {
    background-color: $yellow !important;
}

.text_info {
    background-color: $cyan !important;
}

.text_light {
    background-color: #f8f9fa !important;
}

.text_dark {
    background-color: #212529 !important;
}
