// 針對RWD切換三種尺寸 (如要影響須把下方heigh & line-height 註解掉
@include btn-height(40px);

@include view-md-up {
    @include btn-height(36px);
}

@include view-xl-up {
    @include btn-height(32px);
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"],
button.btn,
input[type="submit"].btn,
input[type="reset"].btn,
input[type="button"].btn,
a.btn {
    display: inline-block;
    padding: 0 12px;
    height: $btn-height;
    color: $btn-color;
    background-color: $btn-bg;
    border: 1px solid;
    outline: none;
    transition: $transition;
    line-height: $btn-height;
    cursor: pointer;
    font-weight: 700;
    vertical-align: middle;

    &:hover,
    &:active,
    &:focus {
        color: lighten($btn-color, 10%);
        background-color: darken($btn-bg, 10%);
    }

    &.disabled,
    &:disabled {
        color: $disabled-color;
        background-color: $disabled-bg-color;
        border-color: $disabled-border-color;
        cursor: no-drop;
    }
}
