.list-box {
    display: flex;
    align-items: center;
    padding: 12px 6px;
    width: 100%;
    max-width: 480px;
    gap: 10px;
    border: 1px solid #dee2e6;
    box-shadow: 1px 1px 3px #dee2e6;

    .not-select-block,
    .has-select-block {
        width: 50%;

        .title {
            padding: 6px 0;
            font-size: 1.2rem;
            font-weight: 700;
        }

        input[type="search"] {
            margin-bottom: 6px;
            width: 100%;
            box-shadow: 1px 1px 3px snow #dee2e6;
        }
    }

    select[multiple] {
        min-width: 150px;
        height: 32px * 6;

        option {
            padding: 6px 12px;

            &:hover {
                background-color: #dee2e6;
            }

            &:active {
                color: $secondary-color;
            }

            &.hide {
                display: none;
            }
        }

        &:focus {
            border-color: $secondary-color;
            box-shadow: 0 0 0 0.25rem rgba(60, 81, 91, 0.25);

            option:checked {
                background: $secondary-color linear-gradient(0deg, $secondary-color 0%, $secondary-color 100%);
            }
        }
    }

    .controll-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;

        .btn {
            width: 50px;
        }
    }
}
